{# This comment is not included in the output ... #}
{% for iteration in tone_data -%}
    {% set outer_index0 = loop.index0 %}
# Begin sequence {{ iteration.mixed_track }}, Destination Output Track --------
    {% for track in iteration.chirps %}
NewMonoTrack:
Select: Track={{ loop.index0  }} TrackCount=1 Start=0 End={{ iteration.duration }}
Chirp: StartFreq={{ track.start_freq }} EndFreq={{ track.end_freq }} StartAmp=0.8 EndAmp=0.8 Waveform=Sine Interpolation=Linear
    {% endfor %}
Select: Track=0 TrackCount={{ iteration.chirps|length }}
MixAndRender:
Export2: Filename="../aex/mixed-{{ iteration.mixed_track }}.ogg"
RemoveTracks:
# End sequence {{ iteration.mixed_track }}, Destination Output Track   --------
{% endfor %}
